.Toolbar {
    position: fixed;
    left: 40px;
    top: 50px;
    width: auto;
    height: 50px;
    background-color:transparent;
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
    z-index: 10;
}

.Toolbar > .ZoomIn,
.Toolbar > .ZoomOut {
    border: 0;
    border-radius: 0;
    background-color: #fc3;
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 2px;
    padding: 10px 20px;
    cursor: pointer;
}

.Toolbar > .ZoomPercent {
    text-align: center;
    font-size: 16px;
    color: transparent;
    margin: 2px;
}